<IfModule authz_core_module>
#    Require all denied

#	<FilesMatch "\.(css|js|jpe?g|png|csv)$">
#		Require all granted
#	</FilesMatch>
</IfModule>
<IfModule !authz_core_module>
    Deny from all
</IfModule>
