@font-face {
  font-family: "iconfont"; /* Project id 3248721 */
  src: url('//at.alicdn.com/t/font_3248721_4mbtii9eya2.woff2?t=1647410100220') format('woff2'),
       url('//at.alicdn.com/t/font_3248721_4mbtii9eya2.woff?t=1647410100220') format('woff'),
       url('//at.alicdn.com/t/font_3248721_4mbtii9eya2.ttf?t=1647410100220') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shard:before {
  content: "\e68a";
}

.icon-shards:before {
  content: "\e608";
}

.icon-cluster:before {
  content: "\e9f0";
}

.icon-clusters:before {
  content: "\e7d4";
}

.icon-storagenodes:before {
  content: "\e9f1";
}

.icon-dodechild:before {
  content: "\e70e";
}

.icon-jiedianleizhongxinguanli:before {
  content: "\e9cf";
}

.icon-snode:before {
  content: "\e649";
}

.icon-compnode:before {
  content: "\e9d0";
}

.icon-comps:before {
  content: "\e629";
}

.icon-storagenode:before {
  content: "\e717";
}

.icon-storage:before {
  content: "\e614";
}

.icon-computer:before {
  content: "\e796";
}
